APP_NAME=Syntx API
APP_VERSION=0.1.0

DATABASE_URL=postgresql+psycopg2://user:password@postgres:5432/db

SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

BACKEND_CORS_ORIGINS=http://localhost:4200