APP_NAME=Syntx API
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1

DATABASE_URL=postgresql+psycopg2://syntx_user:syntx_password@postgres:5432/syntx_db

SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

BACKEND_CORS_ORIGINS=http://localhost:4200